:root,
:host {
  --color-primary: #fdfd1f;
  --color-secondary: #ababab;

  --color-deeper: #898989;

  --color-background: #faffff;
  --color-foreground: #171717;
}

html.dark {
  --color-primary: rgba(34, 187, 255, 1);
  --color-background: rgba(19, 20, 21, 1);
  --color-foreground: #ededed;
  --color-subtle: #1e1f20;

  color-scheme: dark;
}

html,
body,
#app {
  height: 100%;
  margin: 0;
  padding: 0;
}

html.dark {
  background: #121212;
  color-scheme: dark;
}

#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  filter: invert();
  background-image: url('/assets/patterns/texture.svg');
  background-attachment: fixed;
  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;
  width: 100%;
  height: 1rem;
}

/* named transitions */
.fade-enter-active,
.fade-leave-active {
  transition:
    transform 0.5s ease,
    opacity 0.3s ease-out;
  transform-origin: left;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
  transform: rotateY(45deg);
  transform-origin: left;
}

.slide-x-enter-active,
.slide-x-leave-active {
  transition:
    transform 0.3s ease-out,
    opacity 0.3s ease-in-out;
}

.slide-x-enter-from,
.slide-x-leave-to {
  transform: translateX(-100%);
}

.slide-x-enter-to,
.slide-x-leave-from {
  opacity: 1;
  transform: translateX(0);
}

.slide-y-enter-active,
.slide-y-leave-active {
  transition: all 0.1s ease;
}

.slide-y-enter-from {
  opacity: 0;
  transform: translateY(-100%);
}

.slide-y-leave-to {
  opacity: 0;
  transform: translateY(100%);
}
