:root,
:host {
  --color-primary: rgba(253, 253, 31, 1);
  --color-background: rgba(250, 255, 255, 1);
  --color-foreground: rgba(23, 23, 23, 1);

  --image-graph-paper: url('/assets/patterns/graph-paper.svg');
  --image-diagonal-lines: url('/assets/patterns/diagonal-lines.svg');
  --image-texture: url('/assets/patterns/texture.svg');
}

:focus-visible {
  outline: 1px dashed var(--color-foreground) !important;
  box-shadow: 6px 6px var(--color-primary);
  z-index: 10;
}

html.dark {
  --color-primary: rgba(34, 187, 255, 1);
  --color-background: rgba(19, 20, 21, 1);
  --color-foreground: rgba(237, 237, 237, 1);

  /* avoiding mask in body */
  --image-graph-paper: url('/assets/patterns/graph-paper-dark.svg');
  --image-diagonal-lines: url('/assets/patterns/diagonal-lines-dark.svg');
  --image-texture: url('/assets/patterns/texture-dark.svg');

  color-scheme: dark;
}

html,
body,
#app {
  height: 100%;
  margin: 0;
  padding: 0;
  background-image: var(--image-graph-paper);
  background-color: var(--color-background);
  overflow: hidden;
}

html.dark {
  color-scheme: dark;
}

#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  background: linear-gradient(135deg, transparent, var(--color-primary));
  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;
  width: 100%;
  height: 1rem;
}

/* named transitions */
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

.fade-enter-to,
.fade-leave-from {
  opacity: 100;
}

.fade-reveal-enter-active,
.fade-reveal-leave-active {
  transition:
    transform 0.5s ease,
    opacity 0.3s ease-out;
  transform-origin: left;
}

.fade-reveal-enter-from,
.fade-reveal-leave-to {
  opacity: 0;
  transform: rotateY(45deg);
  transform-origin: left;
}

.slide-x-enter-active,
.slide-x-leave-active {
  transition:
    transform 0.3s ease-out,
    opacity 0.3s ease-in-out;
}

.slide-x-enter-from,
.slide-x-leave-to {
  transform: translateX(-100%);
}

.slide-x-enter-to,
.slide-x-leave-from {
  opacity: 1;
  transform: translateX(0);
}

.slide-y-enter-active,
.slide-y-leave-active {
  transition: all 0.1s ease;
}

.slide-y-enter-from {
  opacity: 0;
  transform: translateY(-100%);
}

.slide-y-leave-to {
  opacity: 0;
  transform: translateY(100%);
}
